{% extends 'base.html.twig' %}

{% block title 'Show movie' ~ parent() %}

{% block body %}
    <div class="card" style="width: 18rem;">
        <img src="{{ movie_poster }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ movie.title }}</h5>
            <p class="card-text">{{ movie.description }}</p>
{#            <a href="#" class="btn btn-primary">Go somewhere</a>#}
        </div>
    </div>
{% endblock %}
